* {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}


.ad-wrapper {
  width: 350px;
  height: 250px;
  border: 1px solid black;
  background-color: #E5E5E5;
  position: relative;
  margin: 100px;
}

.ad-container {
  margin: 5px 10px 15px 10px;
  background-color: white;
  border: 1px solid white;
  border-radius: 6px;
  height: 225px;
  overflow: hidden;
  box-shadow: 2px 5px 8px rgba(0,0,0,0.3);

}


.title-container {
  display: flex;
  margin: 5px 15px 0 15px;
  height: 55px;
  border-bottom: 2px solid rgb(204, 204, 204);
  align-items: center;

}

.title-container img:first-child {
  height: 45px;
  width: 20%;
}

.title-container img:nth-child(2) {
  height: 25px;
  width: 15%;
}


.title-container p {
  display: inline-block;
  text-align: center;
}


.OemSeasonal-dealerName {
  padding-left:  10px;
  font-size: 19px;
  width: 65%;
}

.dealerName {
  font-size: 21px;
  text-align: center;
  width: 80%;
}


.car-model {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
}

.incentives-container {
  text-align: center;
  background-color: red;
  margin: 0;
  height: 40px;
  color: white;
}

.incentives-title {
  font-size: 14px;
  padding-top: 5px;
  margin: 0;
  /* margin-bottom: 7px; */
}

.incentives-subtitle {
  font-size: 10px;
  margin-top: 0;
}

.first-hypen, .second-hypen {
  display: none;
}

/* .incentives-subtitle ul {
  display: inline;
}

.incentives-subtitle li {
  display: inline;
  list-style-type: none;
}

.incentives-subtitle li:before {
  content: '\2014';
  position: absolute;
  margin-left: -10px;

} */



.car-image {
  height: 85px;
  display: block;
  margin: 0 auto;
}

.inventory-btn {
  font-size: 8px;
  padding: 8px 7px;
  background-color: red;
  color: white;
  border-radius: 20px;
  position: absolute;
  bottom: 4px;
  left: 130px;
  font-weight: bold;
  transition: all 0.3s ease 0s;
}

.inventory-btn:hover {
  background-color: rgba(255, 0, 0, 0.6);
}

.left-arrow {
  position: absolute;
  left: 5px;
  bottom: 60px;
}

.right-arrow {
  position: absolute;
  right: 5px;
  bottom: 60px;
}

.left-arrow, .right-arrow {
  width: 18px;
  height: 18px;
  border-radius: 25px;
  background-color: red;
  font-size: 13px;
  text-align: center;
  color: white;
  transition: all 0.3s ease 0s;
}

.left-arrow:hover, .right-arrow:hover {
  background-color: rgba(255, 0, 0, 0.6);

}




.disclaimer-title {
  font-size: 8px;
  position: absolute;
  bottom: 0;
  right: 5px;
  border: none;
  background-color: rgba(0,0,0,0);
  cursor:pointer;
  outline:none;

}


.disclaimer-text {
  display: none;
  position: absolute;
  top: 0;
  overflow: scroll;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.8);
  color: white;
  padding: 20px;
  font-size: .8em;
  line-height: 1.4em;
}

.disclaimer-exit {
  background-color: black;
  color: white;
  margin-bottom: 5px;
  cursor:pointer;

}
